<div class='container'>
  <!-- <div class="e-avatar image e-avatar-large"></div>   -->
  <!-- <span class="e-avatar e-avatar-circle">LC</span> -->
  <!-- <span class="e-avatar image e-avatar-small"></span> -->

  <!-- <span class="e-avatar e-avatar-large e-avatar-circle">LC</span> -->
  <div class="card-container">
    <div class="e-card e-custom-card">
      <div class="e-card-header">
        <div class="e-avatar image e-avatar-xlarge e-avatar-circle"></div>
      </div>
      <div class="e-card-header">
        <div class="e-card-header-caption center">
          <div class="e-card-header-title name">Will Smith</div>
          <div class="e-card-sub-title">Sales Coordinator</div>
        </div>
      </div>
      <div class="e-card-content">
        <p className="avatar-content">
          Will Smith received a BA in psychology from the University of Washington.
          He has also completed a course in Business French. He reads and writes French.
        </p>
      </div>
    </div>
  </div>
</div>